Repository JaneJeon/objection-authorize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{yml,js,json,md}':
  - prettier --write

'*.js':
  - eslint --fix

Update ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Due: prettier --write

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

use lodash's keys instead of Object.keys for safety
  src/utils/object-deep-keys.js
  src/utils/object-diff.js
Due: prettier --write, eslint --fix

npmignore
  .npmignore
Due: none

4.3.8
  package-lock.json
  package.json
Due: prettier --write

fuck pgadmin
  docker-compose.yml
Due: prettier --write

ignore fields
  README.md
  src/adapters/base.js
  src/index.js
  tests/insert.test.js
  tests/migrations/20200807001632_users.js
  tests/models/user.js
  tests/patch.test.js
  tests/update.test.js
Due: prettier --write, eslint --fix

4.4.0
  package-lock.json
  package.json
Due: prettier --write

size isn't relevant to a backend library [skip ci]
  README.md
Due: prettier --write

fix inputItems issue
  src/adapters/base.js
  tests/insert.test.js
  tests/patch.test.js
  tests/seeds/20201223004915_users.js
  tests/update.test.js
Due: prettier --write, eslint --fix

4.4.1
  package-lock.json
  package.json
Due: prettier --write

makeover
  .circleci/config.yml
  .github/issue_label_bot.yaml
  .github/workflows/ci.yml
  .npmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

docker-compose workflow for test
  .github/workflows/ci.yml
  docker-compose.yml
Due: prettier --write

no more need for docker tests locally [skip ci]
  .huskyrc.yml
Due: prettier --write

god dammit
  .github/workflows/ci.yml
Due: prettier --write

fix
  package-lock.json
  package.json
  tests/utils/trxify-tests.js
Due: prettier --write, eslint --fix

5.0.0
  package-lock.json
  package.json
Due: prettier --write

let jest autoload any supporting files
  jest.config.js
  tests/delete.test.js
  tests/find.test.js
  tests/insert.test.js
  tests/patch.test.js
  tests/update.test.js
Due: prettier --write, eslint --fix

split out teardown into its own file
  jest.config.js
  tests/utils/teardown-db.js
  tests/utils/trxify-tests.js
Due: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write

5.0.1
  package-lock.json
  package.json
Due: prettier --write

move to standard postgres image
  docker-compose.yml
Due: prettier --write

try removing the latest version to see if it's a node thing
  .github/workflows/ci.yml
Due: prettier --write

disable down
  .github/workflows/ci.yml
Due: prettier --write

try to revert changes
  .github/workflows/ci.yml
  docker-compose.yml
Due: prettier --write

is it really the image?
  docker-compose.yml
Due: prettier --write

maybe?
  .github/workflows/ci.yml
Due: prettier --write

?
  knexfile.js
Due: prettier --write, eslint --fix

https://github.com/docker-library/postgres/issues/520
  docker-compose.yml
  knexfile.js
Due: prettier --write, eslint --fix

try bumping version
  docker-compose.yml
Due: prettier --write

again try bumping iteratively
  docker-compose.yml
Due: prettier --write

rule out tmpfs
  docker-compose.yml
Due: prettier --write

dirty fix
  docker-compose.yml
Due: prettier --write

maybe circleci migration?
  .circleci/config.yml
  jest.config.js
Due: prettier --write, eslint --fix

trigger circleci
  .circleci/config.yml
Due: prettier --write

don't collect coverage from tests
  jest.config.js
Due: prettier --write, eslint --fix

add reporters
  README.md
  jest.config.js
Due: prettier --write, eslint --fix

remove github actions
  .github/workflows/ci.yml
Due: prettier --write
